.selected-section {
  padding: 110px 20px;
}
.selected-section h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 25px;
}
.selected-section p,
.selected-section a {
  color: #2d3748;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 24px;
}
.selected-section h6 {
  color: #2d3748;
  font-size: 18px;
  line-height: 24px;
}
.selected-section .selected-card {
  padding: 40px 20px;
  border-radius: 7px;
  border: 1px solid #f9e6f1;
  box-shadow: 0px 5px 4px 0px rgb(0 0 0 / 28%);
  -webkit-box-shadow: 0px 5px 4px 0px rgb(0 0 0 / 28%);
  -moz-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.28);
}
