* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
/* global css here */

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
section,
div,
b,
i,
a,
article {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1203px;
  margin: 0 auto;
}
/* global css */
.main-title {
  font-size: 38px;
  line-height: 49px;
  font-weight: 700;
  font-family: "Dm Sans";
  color: #f9b934;
  margin-bottom: 5px;
}
.h3 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  color: #2d3748;
}
.h3 span {
  color: #125ce4;
}

.p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #646e73;
}
p {
  color: #646e73;
}
a,
a:hover {
  display: inline-block;
  text-decoration: none;
}

.main-btn {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  padding: 12px 22px;
  border-radius: 5px;
}

.main-btn span {
  display: inline-block;
  padding-left: 15px;
  color: #125ce4;
}
.bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* animations */

.hover-animation-basic {
  transition: all 0.5s ease-in;
}

/* Anim Play */
.anim-play {
  animation-play-state: running !important;
}

/* Fade In Up */
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.anim-fade-in-up {
  animation: fade-in-up 0.7s ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-play-state: paused;
}

/* Fade In Left */
@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.anim-fade-in-left {
  animation: fade-in-left 0.7s ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-play-state: paused;
}

/* Fade In Right */
@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.anim-fade-in-right {
  animation: fade-in-right 0.7s ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-play-state: paused;
}

/*  Anim Delay */
.anim-delay-1 {
  animation-delay: 0ms;
}

.anim-delay-2 {
  animation-delay: 100ms;
}

.anim-delay-3 {
  animation-delay: 200ms;
}

.anim-delay-4 {
  animation-delay: 300ms;
}

.anim-delay-5 {
  animation-delay: 400ms;
}

.anim-delay-6 {
  animation-delay: 500ms;
}

.anim-delay-7 {
  animation-delay: 600ms;
}
